<h1>New product</h1>

<%= render "form", aurora_main_shop_store_brze_product: @aurora_main_shop_store_brze_product %>

<br>

<div>
  <%= link_to "Back to products", aurora_main_shop_store_brze_products_path %>
</div>
